.cart{
    text-align: center;
    background-color: #FFE0B3;
    padding: 30px;
    position: sticky;
    top: 0;
}
.cart p{
    font-size: 17px;
}
.btn-clear-cart{
    width: 90%;
    height: 50px;
    font-size: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}